/* DEBUG GRIDCSS */

/* [class*="col-"], footer{
    border: 2px solid black;
    border-radius: 6px;
}
.row{
border: 2px solid red;
} */

/* FIN DEBUG */

/* Ajout de polices d'ecritures */
@font-face {
    font-family: "belligerent";
    src: url("./font/belligerent.ttf");
}
@font-face {
    font-family: "SimpleRonde";
    src: url("./font/SimpleRonde.ttf");
}
@font-face {
    font-family: "Amazon Ember";
    src: url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.eot");
    src: url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.svg#Amazon Ember") format("svg");
}

/* Empêche le dépassement des flottants. */
.container-fluid {
    overflow: hidden;
}

/* Couleur des bouton */
.panier_button,
.button_product,
.validation {
    background-color: #e68b07;
}

/* Index */

/* Police pour le nom des produit en page index */
h2,h3 {
    font-family: "belligerent";
}

/* Police pour la description*/
.desc_index,
.desc_index_title,
.desc_produit,
.desc_produit_title {
    font-family: "Amazon Ember";
}

.desc_produit_title{
    text-decoration: double underline;
}

/* Alignement de la description */
.desc_index_title {
    margin-top: 4%;
}

/* tuiles de la page index */
.items_index{
    background-color: whitesmoke;
    box-shadow: 1px 1px 20px grey;
    padding: 2%;
    border-radius: 20px;
}

/* couleur pour les liens*/
a {
    color: black;
    text-align: center;
}
a:hover {
    color: black;
    text-decoration: none;
}

/* Gestion des images sur la page index */
.image_index {
    width: 60%;
    height: 20vh;
    margin-left: 20%;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #8F5BFE;
    transition: all 1s ease;
}
.image_index:hover {
    transform: scale(0.9);
}

.title_product{
    padding-left: 1%;
}

/* Gestion des images sur la page produit */
.image_product,
.image_panier,
.image_product_modal {
    width: 100%;
    box-shadow: 1px 1px 20px #8F5BFE;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
}

.image_panier{
    margin-top: 15%;
    margin-bottom: 15%;
}
.modal-content.image{
    background-color: rgba(0,0,0, 0);
    border: 0px solid rgba(0, 0, 0, 0);
}
.modal-content.valid{
    background: linear-gradient(0.40turn,#d39059, #b08cfd);
    border: 0px solid rgba(0, 0, 0, 0);
}

.btn-warning,
.btn-success{
    background: linear-gradient(0.60turn,#d3905981, #b08cfd81);
    border: 2px solid grey;
}
.btn-warning:hover{
    box-shadow: 1px 1px 20px #eeff00;
}
.btn-success:hover{
    box-shadow: 1px 1px 20px #00ff15;
}

.product_panier {
    background-color: white;
    border: 5px solid grey;
    border-radius: 15px;
}

/* Mise en forme du choix de la couleur et de la quantitée sur la page produit */
.input_produit,
.select_produit {
    border-radius: 10px;
}

/* Boutton validé de la page produit */
.validation {
    border-radius: 15px;
    top: 15%;
    color: black;
}

/* Réglage de la taille des inputs page produit */
#quantity,
#colors,
#button_Validate {
    width: 150px;
    margin: 0%;
}
/* Réglage de la taille des inputs page panier */
#article_panier {
    height: 480px;
    border-radius: 15px;
    /* Cache le scroll bar dans firefox */
    scrollbar-width: none;  /* Validation W3C erreur car toujours en DEV */
}
/* cache le scroll barre sur chrome et safari */
#article_panier::-webkit-scrollbar {
    display: none;
}


#panier_clear{
    top: 15%;
}
/* Bouton validé le panier */
#buttonValid{
    margin-left: 40%;
    margin-right: 40%;
    color: black;
    background-color: grey;
    text-decoration: none;
    border-radius: 20px;
}
/* Bouton vider le panier */
#buttonClear{
    text-decoration: none;
    color: black;
    background-color: grey;
    border-radius: 20px;
}

/* Fonts awesome */
.fa-times,
.fa-trash-alt,
.fas {
    color: red;
}
.svg-inline--fa {
    stroke: black;
    stroke-width: 25;
}
.return_index {
    text-align: initial;
}
/* button du panier */
button {
    border-radius: 10%;
}

/* Ajout d'un fond sur les pages web */
body {
    background-color: bisque;
}

body.panier,
body.produit {
    overflow: hidden;
}
/*  */
[class*="col-lg-3"],
main {
    margin: 0% 4% 0% 4%;
}

/* Footer */
.footer{
    position: fixed;
}
footer {
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: end;
    padding-right: 5%;
}

h1 {
    font-size: 5em;
    font-family: belligerent;
    color: #261624;
}

/* Formulaire de validation */
.form-control{
    background-color: #e68d0759;
    border-radius: 15px;
}
.control-label{
    text-decoration: underline;
} 

/* Trop petite résolution */
@media screen and (max-width: 319px){
    .logo{
        width: 30%;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
        text-align: center;
    }
    p,a{
        text-align: justify;
        padding: 5%;
    }
}
/*****MOBILE*****/ /* portrait */
@media screen and (min-width: 320px) and (max-width: 567px) {
    
    main {
        overflow: hidden;
    }
    .logo{
        width: 30%;
    }
    h1{
        font-size: 30px;
    }
    #teddies{
        padding: 5%
    }
    .items_index{
        padding: 10%;
    }
    body.panier,
    body.produit {
        overflow: scroll;
    }
    .footer{
        position: relative;
    }
    .title_panier{
        text-align: center;
    }
    .image_product{
        margin-top: 5%;
    }
}
/*****MOBILE*****/ /* paysage */
@media screen and (min-width: 568px) and (max-width: 767px) {

    main {
        overflow: hidden;
    }
    .logo{
        width: 30%;
    }
    h1{
        font-size: 30px;
    }
    #teddies{
        padding: 5%
    }
    .items_index{
        padding: 10%;
    }
    .image_index {
        width: 60%;
        height: 50vh;        
    }
    body.panier,
    body.produit {
        overflow: scroll;
    }
    .footer{
        position: relative;
    }
    .title_panier{
        text-align: center;
    }
    .image_product{
        margin-top: 5%;
        width: 60%;
    }
}
/*****TABLETTE*****/ /* portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    main {
        overflow: hidden;
    }
    .logo{
        width: 30%;
    }
    h1{
        font-size: 30px;
    }
    #teddies{
        padding: 5%
    }
    .items_index{
        padding: 10%;
    }
    .image_index {
        width: 60%;
        height: 30vh;
        margin-left: 20%;
    }
    body.panier,
    body.produit {
        overflow: scroll;
    }
    .footer{
        position: relative;
    }
    .title_panier{
        text-align: center;
    }
    .image_product{
        margin-top: 5%;
        width: 60%;
    }

}
  /*****TABLETTE*****/ /* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
    
    main {
        overflow: hidden;
    }
    .logo{
        width: 25%;
    }
    h1{
        font-size: 55px;
    }
    #teddies{
        padding: 5%
    }
    .items_index{
        padding: 1%;
    }
    .image_index {
        width: 60%;
        height: 15vh;
        margin-left: 20%;
    }
    body.panier,
    body.produit {
        overflow: scroll;
    }
    .footer{
        position: relative;
    }
    .title_panier{
        text-align: center;
    }
    .image_product{
        margin-top: 5%;
        width: 100%;
    }
}